In [33]:
import pandas as pd

In [34]:
df = pd.read_excel(
    io='supermarkt_sales.xlsx',
    engine='openpyxl',
    sheet_name="Sales",
    skiprows=3,
    usecols='B:R',
    nrows=1000
)
df['hour'] = pd.to_datetime(df['Time'],format="%H:%M:%S").dt.hour
df

,Invoice ID,Branch,City,Customer_type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2021-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2021-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4,13
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2021-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4,20
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2021-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2021-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2,13
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2021-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4,17
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2021-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7,13
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2021-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1,15
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2021-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6,13

In [35]:
# ['Yangon', 'Naypyitaw', 'Mandalay']  ['Member', 'Normal'] ['Female', 'Male']

city='Yangon'
customer_type='Member'
gender='Female'

df_selection = df.query(
    "City == @city & Customer_type == @customer_type & Gender == @gender"
)

df_selection

,Invoice ID,Branch,City,Customer_type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1,13
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2021-02-25,14:36:00,Ewallet,413.04,4.761905,20.6520,5.8,14
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,2021-01-10,17:15:00,Credit card,72.52,4.761905,3.6260,7.2,17
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,2021-03-11,11:03:00,Credit card,482.51,4.761905,24.1255,4.6,11
25,227-03-5010,A,Yangon,Member,Female,Home and lifestyle,52.59,8,21.0360,441.7560,2021-03-22,19:20:00,Credit card,420.72,4.761905,21.0360,8.5,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927,397-25-8725,A,Yangon,Member,Female,Health and beauty,39.62,9,17.8290,374.4090,2021-01-13,17:54:00,Credit card,356.58,4.761905,17.8290,6.8,17
938,131-70-8179,A,Yangon,Member,Female,Health and beauty,92.09,3,13.8135,290.0835,2021-02-17,16:27:00,Cash,276.27,4.761905,13.8135,4.2,16
959,384-59-6655,A,Yangon,Member,Female,Food and beverages,98.66,9,44.3970,932.3370,2021-02-19,15:07:00,Cash,887.94,4.761905,44.3970,8.4,15
982,139-32-4183,A,Yangon,Member,Female,Sports and travel,97.48,9,43.8660,921.1860,2021-03-14,14:19:00,Ewallet,877.32,4.761905,43.8660,7.4,14
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2021-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6,13

In [36]:
df_selection.groupby(by=['Product line']).sum()[['Total']].sort_values("Total")

                            Total
Product line
Food and beverages      2828.1540
Health and beauty       3194.3520
Electronic accessories  3946.6350
Fashion accessories     4191.3585
Sports and travel       5743.2690
Home and lifestyle      6739.2990

In [39]:
df_selection.groupby(by=['hour']).sum()[['Total']]

          Total
hour
10    2307.2385
11    1867.5930
12    3706.2060
13    2900.7090
14    4164.3210
15    4011.6300
16    2326.6740
17    2071.2930
18    1059.3345
19    1322.8950
20     905.1735